@charset "UTF-8";
/*General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0; /*margenes*/
  background-image: url(https://www.imagui.com/i/depositphotos40857847-28065430.webp); /*imagen de fondo*/
  background-size: 50%; /*tamaño imagen de fondo*/
}

/*Header styles*/
header {
  padding: 10px 0px; /*espacio entre el contenido del elemento y su borde*/
  display: flex; /*alineación cajas*/
  margin: 4%; /*margen entre header y main*/
}
header nav div a img {
  width: 25%; /*tamaño logo, ancho de un elemento*/
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8)); /*sombra logo*/
  border-radius: 100%; /*borde de logo*/
}
header nav div .navbar-toggler {
  background-color: grey; /*color icono menú hamburguesa*/
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8)); /*sombra ícono menú hamburguesa*/
}
header nav div div ul { /*MENÚ PROPERTIES*/
  gap: 12px; /*espacio entre los elementos flexibles del menú hamburguesa*/
  cursor: pointer; /*puntero del ratón*/
}
header nav div div ul li {
  height: 25px; /*altura de un elemento*/
}
header nav div div ul li a:visited {
  color: blanchedalmond; /*color letra*/
}
header nav div div ul li a:hover { /*pasar cursor por encima*/
  background-color: dimgray; /*color de fondo*/
  border-radius: 5px; /*bordes redondeados*/
}
header nav div div ul li ul {
  gap: 12px; /*espacio entre los elementos flexibles del menú hamburguesa*/
  cursor: pointer; /*puntero del ratón*/
}
header nav div div ul li ul li {
  height: 25px; /*altura de un elemento*/
}
header nav div div ul li ul li a:visited {
  color: blanchedalmond; /*color letra*/
}
header nav div div ul li ul li a:hover { /*pasar cursor por encima*/
  background-color: dimgray; /*color de fondo*/
  border-radius: 5px; /*bordes redondeados*/
}

main {
  margin: 1rem;
}
main h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: xx-large;
  color: brown;
}
main .sub-prod-utilizados {
  text-align: center;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
  font-style: italic;
}
main .div-img-pan-casero,
main .div-img-torta-matera {
  display: flex;
  justify-content: center;
}
main .div-img-pan-casero img,
main .div-img-torta-matera img {
  border-radius: 10px;
  width: 70%;
}
main ul .item-contacto a {
  text-decoration: none;
  color: black;
}
main p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-align: center;
}
main .ul-torta-matera {
  padding: 10px 0px 20px 20px;
}
main .ol-torta-matera {
  padding: 10px 20px 20px 20px;
}
main .ul-pan-casero {
  padding: 10px 0px 20px 20px;
}
main .ol-pan-casero {
  padding: 10px 20px 20px 20px;
}
main iframe {
  width: 80%;
}
main .section-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .section-index div {
  flex: 1 1 30%;
  margin: 10px;
}
main .section-index div img {
  width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  main .section-index {
    flex-direction: column;
  }
}

/*Footer styles*/
footer {
  margin: 0px 30px 20px 30px; /*margenes*/
  font-family: "Times New Roman", Times, serif; /*tipografía*/
  font-size: small; /*tamaño de letra*/
  text-align: right; /*alineacion del texto*/
}

/* Media Queries */
/* MQ tablet */
@media screen and (min-width: 600px) {
  body main .section-galeria div p {
    font-size: medium;
  }
}
/* MQ desktop */
@media screen and (min-width: 1024px) {
  .section-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  main section div img {
    width: 80vh;
    height: 80vh;
  }
  .section-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  body main .section-galeria div img {
    width: 95%;
  }
  body main .section-galeria div p {
    font-size: large;
  }
}

/*# sourceMappingURL=style.css.map */
