/*Footer styles*/
// html/_general-footer.scss
footer {
    margin: 0px 30px 20px 30px; /*margenes*/
    font-family: 'Times New Roman', Times, serif; /*tipografía*/
    font-size:small; /*tamaño de letra*/
    text-align: right; /*alineacion del texto*/
}
