// html/_general-main.scss

main {
    margin: 1rem;

    h1 {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
        font-size: xx-large;
        color: brown;
    }

    .sub-prod-utilizados {
        text-align: center;
        font-size: large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: grey;
        font-style: italic;
    }

    .div-img-pan-casero,
    .div-img-torta-matera {
        display: flex;
        justify-content: center;

        img {
            border-radius: 10px;
            width: 70%;
        }
    }

    ul .item-contacto a {
        text-decoration: none;
        color: black;
    }

    p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        text-align: center;
    }

    .ul-torta-matera {
        padding: 10px 0px 20px 20px;
    }

    .ol-torta-matera {
        padding: 10px 20px 20px 20px;
    }

    .ul-pan-casero {
        padding: 10px 0px 20px 20px;
    }

    .ol-pan-casero {
        padding: 10px 20px 20px 20px;
    }

    iframe {
        width: 80%;
    }

    .section-index {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
            flex: 1 1 30%;
            margin: 10px;

            img {
                width: 100%;
                height: auto;
            }
        }

        @media (max-width: $tablet-width) {
            flex-direction: column;
        }
    }
}